body {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    border: 5px rgb(84, 173, 201) solid;
}

.sim {

    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 5px  rgba(124, 198,241, 0.952) solid;

}

em strong {
    color: rgba(95, 188, 241, 0.952);
}
#banner{
    width: 70%;
}

.segundo{
    text-align: left;
}
.Benefícios{
    padding: 20px;

}

h2{
  text-align: center;



}
.imagembeneficios{
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    border: 3px solid rgb(30, 111, 158);
    margin-left:40px ;
}
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
}