body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border: 50px rgb(96, 96, 236) solid;
}

h1 {

    text-align: center;
    background-color: rgb(12, 137, 175);
}

em strong {
    color: rgb(24, 97, 233);
}
#banner{
    width: 70%;
}
