body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border: 5px rgb(5, 108, 139) solid;
}

.sim {

    text-align: center;
    background-color: rgb(12, 137, 175);
    border: 5px  rgb(67, 67, 250) solid;

}

em strong {
    color: rgba(24, 167, 233, 0.952);
}
#banner{
    width: 70%;
}

.segundo{
    text-align: left;
}